.chatbot-btn{
    display: flex;
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    width: 20vw;
    aspect-ratio: 1/1;
    background: var(--green);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    justify-content: center;
    align-items: center;
    z-index: 5;
    box-shadow: 10px 18px 53px 0px rgba(0,0,0,0.52);
    -webkit-box-shadow: 10px 18px 53px 0px rgba(0,0,0,0.52);
    -moz-box-shadow: 10px 18px 53px 0px rgba(0,0,0,0.52);
}
.chatbot-btn i{
    display: flex;
    height: 100%;
    aspect-ratio: 1/1;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 10vw;
    color: var(--white);
}