.control{
    display: grid;
    grid-template-rows: 20vw 1fr 1fr 15vw;
    gap: 3rem;
    margin: 0 auto;
    padding: 1rem 1rem 2rem;
    max-width: 800px;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    overflow: hidden;
}
.control > h1{
    font-size: 2rem;
    text-align: center;
    padding: 1rem;
    background: var(--green);
    color: var(--white);
}
.control-readings{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 3rem;
    width: min(100%,600px);
    border-radius: 25px;
}
.control-readings-sub{
    display: grid;
    grid-template-columns: 3rem 3fr 1fr 1rem;
}
.control-sys{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5%;
}
.control-sys-sub{
    padding: 1rem;
}
.control-sys-sub div{
    display: grid;
    grid-template-columns: 3rem 4fr 1fr;
}
.control-sys-sub input{
    width: 100%;
}
.control-btns{
    display: flex;
    width: min(488px, 100%);
    justify-content: space-around;
}
.control-btns button{
    width: 45%;
    height: 4rem;
    border-radius: 60px;
    font-size: 1rem;
}
.control-btns :first-child{
    background: var(--green);
    color: var(--white);
}
.control-btns :last-child{
    border: 3px solid var(--green);
    background: transparent;
}